* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: black;
    font-family: sans-serif;
    color: white;
    overflow:hidden;
}

a{
    text-decoration: none;
    color: white;
}

main{
    height: 100% - 100px;

}

.wrapper {
    padding: 50px 50px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    overflow:hidden;
    

  }


/************** USER of ZOOM ************/

.user-container{

    position: relative;
    width: calc(100% / 8);
    height: calc(100% / 5);
    margin: 10px 15px;
    
    

}

.user-container img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}


.container-user-info{
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: #888888a6;
    color: white;
    padding: 5px;   
}

/************** FOOTER ************/

footer *{
    list-style-type: none;
}

footer{
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100vw;
    background-color: hsl(0deg 0% 13%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*** left-nav ***/

.left-nav{
    padding-left: 20px;
}

.left-nav ul{
    display: flex;
    gap: 20px;
}

.left-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-nav i{
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

/*** center-nav ***/
.center-nav ul{
    display: flex;
    

}


/*** right-nav ***/

  .right-nav{
      height: 100%;
      background-color: hsl(0deg 0% 29%);
      }

  .right-nav a{
      color: hsl(2deg 76% 45%);

  }