* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: black;
    font-family: sans-serif;
    color: white;
    overflow:hidden;
    
}

main{
    height: 100% - 100px;

}

.wrapper {
    padding: 50px 50px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    overflow:hidden;
    

  }


/************** USER of ZOOM ************/

.user-container{

    position: relative;
    width: calc(100% / 8);
    height: calc(100% / 5);
    margin: 10px 15px;
    
    

}

.user-container img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}


.container-user-info{
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: #888888a6;
    color: white;
    padding: 5px;   
}

/************** FOOTER ************/

footer{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 0px;
    height: 100px;
    width: 100vw;
    background-color: hsl(0deg 0% 13%);
    display: flex;
}

.left-nav ul{
    display: flex;
    flex-direction: column;
}

.left-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-nav i{
    font-size: 1.5rem;
    margin-bottom: 5px;
  }