* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: black;
    font-family: sans-serif;
    color: white;
    overflow:hidden;
}

a{
    text-decoration: none;
    color: white;
}

main{
    height: 90%;
    width: 100vw;
    padding: 30px;
    display: flex;
    padding: 80px 30px 0 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow:hidden;
    
  }

/************** ABSOLUTE GRID ************/

.grid{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    font-size: 14px;
}

.speaker-view{
    display: flex;
    background-color: hsl(0deg 0% 29%);
    margin: 0 10px;
    padding: 0 20px;
    border-radius: 10px;
    
}

.grid i{
    display: flex;
    font-size: 15px;
    align-self: center;    
}


.icon-view{
    background-color: hsl(0deg 0% 29%);
    padding: 10px 10px;
    border-radius: 10px;
    
}



/************** USER of ZOOM ************/

.user-container{
    display: flex;
    position: relative;
    width: 180px;
    height: 130px;
    margin: 10px 15px;
    overflow:hidden;
}

.user-container img{
    min-width: 280px;
    min-height: 150px;
    object-fit: fit;
}


.container-user-info{
    position: absolute;
    bottom: 5px;
    left: 0px;
    background-color: #888888a6;
    color: white;
    padding: 3px 10px;
}

.wrapper .fas{
    font-size: 14px;
    padding-bottom: 10px;
}

/************** FOOTER ************/

footer *{
    list-style-type: none;
}

footer{
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100vw;
    background-color: hsl(0deg 0% 13%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*** left-nav ***/

.left-nav{
    padding-left: 20px;
}

.left-nav ul{
    display: flex;
    gap: 20px;
}

.left-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li i{
    padding-bottom: 5px;
}

.fas{
    font-size: 30px;
    padding-bottom: 10px;
}

.fa-chevron-up{
    align-self: center;
    font-size: 15px;

}


/*** center-nav ***/
.center-nav ul{
    display: flex;
    gap: 20px;
}

.central-nav li{
    display: flex;
}

.central-nav a{

}

/*** right-nav ***/

  .right-nav{
      display: flex;
      height: 100%;
      background-color: hsl(0deg 0% 29%);
      align-content: center;
      padding: 0  20px;
      }

  .right-nav a{
      color: hsl(2deg 76% 45%);
      align-self: center;

  }



  /********** GLOBALS **********/

  .green{
      color: hsl(107deg 68% 47%);
  }